
@{
    ViewData["Title"] = "Details";
}
<h1>Lyric Details: </h1>
<ul>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail ">
                    <h2>Title: @item.Title</h2>
                    <h2>Artist Name: @item.ArtistName</h2>
                    <h2>Album Name: @item.AlbumName</h2>
                    <h2>Category: @item.Category</h2>
                    <h2>Video: <iframe width="100%" height="100%" src="//www.youtube.com/embed/@item.VideoLink" frameborder="0" allowfullscreen></iframe></h2>
                    <h2>Song Lyrics: @item.SongLyric</h2>

                </div>
            </div>
        </div>
    }
</ul>
